@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:  sans-serif;
  @apply bg-primary text-secondary leading-loose;

} 

@layer base {
  .h1 {
    @apply text-[24px] xl:text-[40px] leading-[1.1] font-semibold    
  }
  .h2 {
    @apply text-[24px] xl:text-[36px] leading-[1.1] font-semibold    
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold    
  }
}

/* Animation personnalisée */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

